In [2]:
import pandas as pd

In [5]:
news=pd.read_csv('/home/maria_dev/news2017.csv')

/usr/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
news.head()

,Unnamed: 0,Unnamed: 0.1,article_id,url,relevant,created,last_modified,news_source_id,author,tag_date,relevant_c,user_id,locations
0,0,0,122140,http://abclocal.go.com/wls/story?section=news/...,f,2013-09-09 14:09:06.165191+00,2013-09-23 14:38:23.080001+00,98,NaN,2017-05-01 00:02:40.643892+00,f,NaN,[]
1,1,1,122141,http://abclocal.go.com/wls/story?section=news/...,f,2013-09-09 14:09:07.943208+00,2013-09-23 14:38:07.687984+00,98,NaN,2017-05-01 00:02:40.648046+00,f,NaN,[]
2,2,2,122142,http://www.myfoxchicago.com/story/23377975/she...,f,2013-09-09 14:09:51.837171+00,2014-02-25 22:23:20.605934+00,109,NaN,2017-05-01 00:02:40.652147+00,f,NaN,[]
3,3,3,122143,http://www.beachwoodreporter.com/tv/24_hours_w...,f,2013-09-09 14:11:53.733228+00,2013-09-23 14:38:23.088423+00,99,NaN,2017-05-01 00:02:40.656527+00,f,NaN,[]
4,4,4,122144,http://www.beachwoodreporter.com/music/the_wee...,f,2013-09-09 14:11:54.776239+00,2013-09-23 14:38:23.093802+00,99,NaN,2017-05-01 00:02:40.660979+00,f,NaN,[]

In [8]:
location=pd.read_csv('/home/maria_dev/data/locations.csv')

In [9]:
location.head()

,Unnamed: 0,id,text,latitude,longitude,coding_id,confidence,neighborhood
0,0,690685,Illinois governor’s,42.274002,-88.227908,1379932,0.903,NaN
1,1,690686,Side Rogers Park,42.159747,-88.141467,1379934,0.881,NaN
2,2,690687,Far South Side. The,41.793725,-87.634218,1379935,0.908,ENGLEWOOD
3,3,690688,block of South Perry Avenue,41.653691,-87.447701,1379935,0.887,NaN
4,4,690689,West Pullman,41.673497,-87.634937,1379935,1.000,WEST PULLMAN

In [10]:
location.count()

Unnamed: 0      292766
id              292766
text            292766
latitude        292766
longitude       292766
coding_id       292766
confidence      292766
neighborhood    189410
dtype: int64

In [13]:
location.coding_id.unique().shape

(133790,)

In [15]:
location.coding_id.min()

910781